<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
SYSTEM "src/main/resources/hibernate-configuration-3.0.dtd">
<!-- PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://svn.compass-project.org/svn/compass/trunk/lib/hibernate/hibernate-configuration-3.0.dtd" -->
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- Using MySQL  -->
    <property name="connection.url">${toxotis.database.url}</property>
    <!-- Database user  -->
    <property name="connection.username">${toxotis.database.user}</property>
    <!-- Your password goes here... -->
    <property name="connection.password">${toxotis.database.secret}</property>
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">${toxotis.database.poolsize}</property>
    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">false</property>
    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">update</property>
    <mapping resource="LiteralValueMapping.hbm.xml"/>
    <mapping resource="ResourceValue.hbm.xml"/>
    <mapping resource="MetaInfoMapping.hbm.xml"/>
    <mapping resource="OntologicalClassMapping.hbm.xml"/>
    <mapping resource="UserMapping.hbm.xml"/>
    <mapping resource="OTComponentMapping.hbm.xml"/>
<!--
-->
  </session-factory>
</hibernate-configuration>
